
<script>
import AnomalyChartScatter from "./component/AnomalyChartScatter.vue";
import AnomalyChartLine from "./component/AnomalyChartLine.vue";
import temperatureData from "./data/data_weather";
import gitlabMetricsData from "./data/gitlab_metrics_rps";

export default {
  name: "app",
  components: {
    AnomalyChartScatter,
    AnomalyChartLine
  },
  data() {
    return {
      sampleSize: 500,
      stdDevFactor: 2,
      windowSize: 120,
      tempSymbolSize: 4,
      glSymbolSize: 4,

      tempShowAverage: true,
      glShowAverage: true
    };
  },
  computed: {
    temperatureData() {
      return temperatureData(
        this.sampleSize,
        this.windowSize,
        this.stdDevFactor
      );
    },
    gitlabMetricsData() {
      return gitlabMetricsData();
    }
  }
};
</script>

<template>
  <div class="app">
    <div class="row">
      <div class="col">
        <h1>🌎 Global Temperature Time Series</h1>
        <div class="form">
          <label>Dot Size:</label>
          <input v-model.number.lazy="tempSymbolSize" /> (symbol size)
          <br />
          <label>Show average:</label>
          <input type="checkbox" v-model="tempShowAverage" /> Show average line
          <br />
          <label>Sample Size:</label>
          <input v-model.number.lazy="sampleSize" /> (# of data points)
          <br />
          <label>Std. Devs.:</label>
          <input v-model.number.lazy="stdDevFactor" />
          <p>A value is an anomaly if it is +/- {{stdDevFactor}} standard deviations of the last {{windowSize}} values.</p>
        </div>
      </div>
      <div class="col">
        <h1>
          <a
            href="https://dashboards.gitlab.com/d/Bk_YovMZk/andrew-anomaly-talk-non-seasonal-1?orgId=1&from=1566244798327&to=1566849598327&panelId=8&fullscreen&var-PROMETHEUS_DS=prometheus-01-inf-gprd&var-environment=gprd&var-type=metrics&var-stage=main&var-sigma=2"
          >One</a> GitLab Dataset
        </h1>
        <div class="form">
          <label>Dot Size:</label>
          <input v-model.number.lazy="glSymbolSize" /> (symbol size)
          <br />
          <label>Show average:</label>
          <input type="checkbox" v-model="glShowAverage" /> Show average line
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <anomaly-chart-line
          :data="temperatureData"
          :showAverage="tempShowAverage"
          :symbolSize="tempSymbolSize"
        ></anomaly-chart-line>
        <anomaly-chart-scatter
          :data="temperatureData"
          :showAverage="tempShowAverage"
          :symbolSize="tempSymbolSize"
        ></anomaly-chart-scatter>
      </div>
      <div class="col">
        <anomaly-chart-line
          :data="gitlabMetricsData"
          :showAverage="glShowAverage"
          :symbolSize="glSymbolSize"
        ></anomaly-chart-line>
        <anomaly-chart-scatter
          :data="gitlabMetricsData"
          :showAverage="glShowAverage"
          :symbolSize="glSymbolSize"
        ></anomaly-chart-scatter>
      </div>
    </div>
  </div>
</template>

<style scoped>
.app{
  margin: 2em;
}
h1 {
  text-align: center;
  font-size: 1.5em;
}

h2 {
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
}

.form {
  min-height: 120px;
}
form > div {
  padding: 10px;
}

label {
  width: 120px;
}

.wrapper {
  width: 50%;
  float: left;
}

.footer {
  font-size: 10px;
  text-align: center;
}
</style>
