
<script>
import { GlDiscreteScatterChart } from "@gitlab/ui/dist/charts";

export default {
  components: {
    GlDiscreteScatterChart
  },
  props: {
    data: Object,
    stdDevFactor: Number,
    percentileSize: Number,
    symbolSize: Number,
    showAverage: Boolean
  },
  computed: {
    chart() {
      let symbolSize = this.symbolSize;
      let data = this.data;

      return {
        data: [
          {
            type: "scatter",
            data: data.main.map(function(item) {
              return [item[0], item[1] + data.base];
            }),
            symbolSize: symbolSize,
            itemStyle: {
              color: function(params) {
                let dataIndex = params.dataIndex;
                let yVal = data.main[dataIndex][1];
                let yLower = data.lower[dataIndex][1];
                let yUpper = data.upper[dataIndex][1];
                if (yVal < yLower || yVal > yUpper) {
                  return "#BF0000";
                }
                return "#4287f5";
              },
              opacity: 1
            }
          }
        ],
        option: {
          yAxis: {
            axisLabel: {
              formatter: function(val) {
                return val - data.base;
              }
            }
          },
          series: [
            {
              name: "L",
              type: "line",
              data: data.lower.map(function(item) {
                return [item[0], item[1] + data.base];
              }),
              lineStyle: {
                normal: {
                  opacity: 0
                }
              },
              stack: "normal-band",
              symbol: "none"
            },
            {
              name: "U",
              type: "line",
              data: data.upper.map(function(item, index) {
                return [item[0], item[1] - data.lower[index][1]];
              }),
              lineStyle: {
                normal: {
                  opacity: 0
                }
              },
              areaStyle: {
                normal: {
                  color: "#4287f5",
                  opacity: 0.2
                }
              },
              stack: "normal-band",
              symbol: "none"
            },
            {
              name: "Mean",
              data: data.mean.map(function(item) {
                return [item[0], item[1] + data.base];
              }),
              type: "line",
              lineStyle: {
                normal: {
                  opacity: this.showAverage ? 1 : 0,
                  color: "#4287f5"
                }
              },
              symbol: "none"
            }
          ]
        }
      };
    }
  }
};
</script>

<template>
  <div id="app">
    <GlDiscreteScatterChart
      :data="chart.data"
      :option="chart.option"
      y-axis-title="Mean"
      x-axis-title="Date"
    ></GlDiscreteScatterChart>
  </div>
</template>

<style scoped>
</style>
